{% extends "base.html" %}
{% block title %}{{ network.title }}{% endblock %}
{% block description %}Эмуляция компьютерной сети в вебе.{% endblock %}
{% block og %}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Miminet">
    <meta property="og:title" content="{{ network.title }}">
    <meta property="og:description" content="Эмуляция компьютерной сети в вебе.">
    <meta property="og:url" content="https://miminet.ru{{ url_for(request.endpoint, guid=network.guid) }}">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="https://miminet.ru/images/preview/{{ network.preview_uri }}">
{% endblock %}

{% block content %}

<main>

    <section class="my-lg-5">
        <div class="row flex-nowrap">

            <div class="bg-light" style="height: 95vh; position: absolute; margin-top: -50px;">
                <div id="network_scheme_shared" class="border bg-white border-primary h-100 w-100"></div>
            </div>

            <div id="side_menu" class="col-auto py-5 px-3 col-xl-1 bg-white" style="height: 80vh; margin-left: 10px;">
                <ul class="list-group" style="max-height: 70vh; overflow: scroll; -webkit-overflow-scrolling: touch;">
                    <li class="list-group-item text-center">
                        <h6 class="text-center">Меню</h6>
                    </li>
                    <li class="list-group-item py-3 text-center">
                        <img class="drag" id="l2_switch" src="{{ url_for('static', filename='/images/l2_switch.png') }}"/>
                        <div class="icon-text">
                            <span data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Свитч (коммутатор) работает на втором уровне модели OSI.">Свитч<br>(L2)</span>
                        </div>
                    </li>
                    <li class="list-group-item py-3 text-center">
                        <img class="drag" id="super-host" src="{{ url_for('static', filename='/images/host.png') }}"/>
                        <div class="icon-text pt-2">
                            <span data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Супер Хост - конечное сетевое устройство с правами админа.">Супер<br>Хост</span>
                        </div>
                    </li>
                    <li class="list-group-item py-3 text-center">
                        <img class="drag" id="host" src="{{ url_for('static', filename='/images/host.png') }}"/>
                        <div class="icon-text pt-2">
                            <span data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Хост - конечное сетевое устройство.">Хост</span>
                        </div>
                    </li>
                    <li class="list-group-item py-3 text-center ">
                        <img class="drag" id="l1_hub" src="{{ url_for('static', filename='/images/hub.png') }}" />
                        <div class="icon-text">
                            <span data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Хаб (концентратор) &mdash; простейшее сетевое устойство.">Хаб<br>(L1)</span>
                        </div>
                    </li>
                    <li class="list-group-item py-3 text-center">
                        <img class="drag" id="l3_router" src="{{ url_for('static', filename='/images/l3_router.png') }}" />
                        <div class="icon-text">
                            <span data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Маршрутизатор (роутер, раутер) &mdash; работает на 3-м уровне модели OSI, позволяет объединять различные сети.">Роутер<br>(L3)</span>
                        </div>
                    </li>
                    <li class="list-group-item py-3 text-center">
                        <img class="drag" id="server" src="{{ url_for('static', filename='/images/server.png') }}" />
                        <div class="icon-text">
                            <span data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Сервер &mdash; обслуживает клиентские запросы.">Сервер</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="text-center">
                    <a href="https://t.me/MimiNetCommunity" parent="_blank">
                        <button type="button" class="btn btn-primary position-absolute bottom-0 end-0" style="margin-bottom: 10px; margin-right: 10px;">Telegram</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

</main>

    <div id="config_host"></div>
    <div id="config_hub"></div>
    <div id="config_switch"></div>
    <div id="config_edge"></div>
    <div id="config_router"></div>
    <div id="config_server"></div>
{% endblock %}

{% block network %}
<script>

    const network_guid = "{{ network.guid }}";
    var network_title = "{{ network.title }}";
    var network_zoom = {{ network_config.zoom}};
    var network_pan_x = {{ network_config.pan_x}};
    var network_pan_y = {{ network_config.pan_y}};

    var nodes = {{ nodes | safe }};
    const edges = {{ edges | safe }};
    var jobs = {{ jobs | safe }};
    var packets = {{ packets | safe }};
    var pcaps = {{ pcaps | safe }};
    var ns = null;

    SetSharedNetworkPlayerState();
    DrawSharedGraph(nodes, edges);
</script>

{% endblock %}